{% extends 'base.html' %}
{% load static %}
{% load products_tags %}

<!-- ***** Header Area End ***** -->
{% block container %}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Maktabkhooneh</h4>
                        </div>
                        <img src="{% static 'images/left-banner-image.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Women</h4>
                                        <span>Best Clothes For Women</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Women</h4>
                                            <p>See our women products here.</p>
                                            <div class="main-border-button">
                                                <a href="{% url 'products:women-products' %}">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/baner-right-image-01.jpg' %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Men</h4>
                                        <span>Best Clothes For Men</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Men</h4>
                                            <p>See our men products here.</p>
                                            <div class="main-border-button">
                                                <a href="{% url 'products:men-products' %}">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/baner-right-image-02.jpg' %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Kids</h4>
                                        <span>Best Clothes For Kids</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Kids</h4>
                                            <p>See our kids products here.</p>
                                            <div class="main-border-button">
                                                <a href="{% url 'products:kids-products' %}">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/baner-right-image-03.jpg' %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Accessories</h4>
                                        <span>Best Trend Accessories</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Accessories</h4>
                                            <p>See our accessories here.</p>
                                            <div class="main-border-button">
                                                <a href="{% url 'products:accessories' %}">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/baner-right-image-04.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Popular Men's Products</h2>
                    <span>We assembled the popular Men's products based on your counted views.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                        {% popular_men_products as products %}
                        {% for product in products %}
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    
                                </div>
                                <img src="{{product.image.url}}" alt="">
                            </div>
                            <div class="down-content">
                                <a href="{% url 'products:men-single' men_product=product.model_name|slugify %}"><h4>{{product.model_name}}</h4></a>
                                <span>${% calculated_price product.price product.discount_Percentage %}</span>
                                {% if product.discount_Percentage > 0 %}
                                <span>{{product.discount_Percentage}}% off</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Men Area Ends ***** -->

<!-- ***** Women Area Starts ***** -->
<section class="section" id="women">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Popular Women's Products</h2>
                    <span>We assembled the popular Women's products based on your counted views.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="women-item-carousel">
                    <div class="owl-women-item owl-carousel">
                        {% popular_women_products as products %}
                        {% for product in products %}
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                   
                                </div>
                                <img src="{{product.image.url}}" alt="">
                            </div>
                            <div class="down-content">
                                <a href="{% url 'products:women-single' women_product=product.model_name|slugify %}"><h4>{{product.model_name}}</h4></a>
                                <span>${% calculated_price product.price product.discount_Percentage %}</span>
                                {% if product.discount_Percentage > 0 %}
                                <span>{{product.discount_Percentage}}% off</span>
                                {% endif %}
                               
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Women Area Ends ***** -->

<!-- ***** Kids Area Starts ***** -->
<section class="section" id="kids">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Popular Kid's Products</h2>
                    <span>We assembled the popular Kid's products based on your counted views.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kid-item-carousel">
                    <div class="owl-kid-item owl-carousel">
                        {% popular_kids_products as products %}
                        {% for product in products %}
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    
                                </div>
                                <img src="{{product.image.url}}" alt="">
                            </div>
                            <div class="down-content">
                                <a href="{% url 'products:kids-single' kids_product=product.model_name|slugify %}"><h4>{{product.model_name}}</h4></a>
                                <span>${% calculated_price product.price product.discount_Percentage %}</span>
                                {% if product.discount_Percentage > 0 %}
                                <span>{{product.discount_Percentage}}% off</span>
                                {% endif %}
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Kids Area Ends ***** -->

<!-- ***** Accessories Area Starts ***** -->
<section class="section" id="kids">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Popular Accessories</h2>
                    <span>We assembled the popular Accessories based on your counted views.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="kid-item-carousel">
                    <div class="owl-kid-item owl-carousel">
                        {% popular_accessories as products %}
                        {% for product in products %}
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    
                                </div>
                                <img src="{{product.image.url}}" alt="">
                            </div>
                            <div class="down-content">
                                <a href="{% url 'products:accessories-single' accessory=product.model_name|slugify %}"><h4>{{product.model_name}}</h4></a>
                                <span>${% calculated_price product.price product.discount_Percentage %}</span>
                                {% if product.discount_Percentage  > 0 %}
                                <span>{{product.discount_Percentage }}% off</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Accessories Area Ends ***** -->

<!-- ***** Explore Area Starts ***** -->

<!-- ***** Explore Area Ends ***** -->

<!-- ***** Social Area Starts ***** -->

<!-- ***** Social Area Ends ***** -->

{% include 'website/newsletter.html' %}
{% endblock %}

<!-- ***** Footer Start ***** -->