{% extends 'base.html' %}
{% load products_tags %}
{% load humanize %}
{% load static %}


<!-- ***** Header Area End ***** -->
{% block container %}
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-content">
          <h2>{{product.model_name}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Product Area Starts ***** -->
<section class="section" id="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="left-images">
          <img src="{{product.image.url}}" alt="">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="right-content">
          <h4>{{product.model_name}}</h4>
          <hr>
          {% if product.discount_Percentage > 0 %}

          <span class="price">Previous Price: ${{product.price}}</span>

          <span class="price">{{product.discount_Percentage}}% off</span>
          {% endif %}

          <span class="price">Advertiser: {{product.advertiser.username}}</span>
          <span class="price">Published Date: {{ product.published_date|naturaltime }}</span>
          <span>{{product.introduction|safe}}</span>
          <hr>

          <span class="price">Stock: {{product.stock}}</span>

          <br>
          <div class="total">
            <h4>Price: ${% calculated_price product.price product.discount_Percentage %}</h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<!---Commenting area-->
<div class="row d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      <div class="card-body p-4">
        <form method="post">
          {% csrf_token %}
          <div class="form-outline mb-10">
            <input type="text" name="comment" class="form-control" placeholder="Tell us you view,we can keep in touch {{request.user.email}}" />
            <input type="hidden" name="email" value="{{request.user.email}}">
            <input type="hidden" name="object_id" value="{{product.id}}">
            <input type="hidden" name="content_type" value="{{product}}">
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <button type="submit" class="btn btn-outline-primary mt-3" style="width: 90px;">Submit</button>
          </div>
        </form>
        {% for comment in comments %}
        <div class="card mb-4">
          <div class="card-body">
            <p>{{comment.comment}}</p>
            <hr/>
            <small>via {{comment.email}} on {{comment.created_date|timesince}} ago</small>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
<!-- ***** Product Area Ends ***** -->
{% endblock %}
<!-- ***** Footer Start ***** -->